* {
    border: none;
    border-radius: 0;
    font-family: "system-ui";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    border-radius: 10px;
    /* background: #010409; */
    background: rgba(15, 76, 129, 0.0);
    color: #B5C7D3;
}

tooltip {
    background: rgba(101, 131, 198, 0.4);
    border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #010409;
}

#workspaces button.urgent {
    color: #11111b;
    background: #010409;
}

#workspaces button:hover {
    background: #010409;
    color: #cdd6f4;
}

#workspaces,
#window{
    padding: 0px 10px;
    color: #B5C7D3
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#power-profiles-daemon,
#temperature,
#tray,
#backlight {
    padding: 0px 10px;
    color: #B5C7D3;
    background-color: rgba(15, 76, 129, 0.4);
}

#network {
    border-radius: 7px 0px 0px 7px;
}

#bluetooth {
    border-radius: 0px 7px 7px 0px;
    margin-right: 10px;
}

#cpu {
    border-radius: 7px 0px 0px 7px;
}

#battery {
    border-radius: 0px 7px 7px 0px;
        margin-right: 10px;
}

#power-profiles-daemon {
    border-radius: 7px 0px 0px 7px;
}

#pulseaudio.microphone {
    border-radius: 0px 7px 7px 0px;
        margin-right: 10px;
}

#clock {
    border-radius: 7px 7px 7px 7px;
}

#tray {
    border-radius: 7px 7px 7px 7px;
    margin-left: 10px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}






