window {
    font-family: system-ui;
    font-size: 18px;
    margin: 0px;
    background-color: rgba(15, 76, 129, 0.6);
    border-radius: 25px;
    border: 2px solid rgba(181, 199, 211, 0.6);
}

#input {
    margin: 5px;
    border: none;
    color: rgba(255, 255, 255,1.0);
    background-color: rgba(101, 141, 198,0.4);
    border-radius: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 8px;
}

#outer-box {
    margin: 15px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: rgba(181, 199, 211, 1.0);
}

#entry:selected {
    background-color: rgba(101, 141, 198, 0.8);
    border-radius: 8px;
    outline: none;
}
